<div id="map">
  <button (click)="drawPolygon()" class="btn polygon">Polygon</button>
  <button (click)="drawPoint()" class="btn point">Point</button>
  <button (click)="drawLine()" class="btn line">Line</button>
  <button (click)="drawDeleteAll()" class="btn delete-all">Delete All</button>
  <button (click)="satellite()" class="btn satellite">Satellite</button>
  <button (click)="light()" class="btn light">light</button>
  <button (click)="dark()" class="btn dark">Dark</button>
  <button (click)="streets()" class="btn streets">Streets</button>
</div>

